.bar-off,
.bar-on {
  height: 40px;
  width: 16px;
  background-color: #00030b;
  margin-right: 8px;
}

.bar-on {
  background: rgb(255, 255, 0); /* Yellow */
}

.bar-on-0 {
  background: rgb(255, 221, 0);
}

.bar-on-1 {
  background: rgb(255, 187, 0);
}

.bar-on-2 {
  background: rgb(255, 153, 0);
}

.bar-on-3 {
  background: rgb(255, 119, 0);
}

.bar-on-4 {
  background: rgb(255, 85, 0);
}

.bar-on-5 {
  background: rgb(255, 51, 0);
}

.bar-on-6 {
  background: rgb(255, 34, 0);
}

.bar-on-7 {
  background: rgb(255, 17, 0);
}

.bar-on-8 {
  background: rgb(255, 0, 0); /* Red */
}

.bar-on-9 {
  background: rgb(234, 0, 0);
}

.bar-on-10 {
  background: rgb(213, 0, 0);
}

.bar-on-11 {
  background: rgb(192, 0, 0);
}

.bar-on-12 {
  background: rgb(171, 0, 0);
}

.bar-on-13 {
  background: rgb(149, 0, 0);
}

.bar-on-14 {
  background: rgb(128, 0, 0);
}

.bar-on-15 {
  background: rgb(106, 0, 0);
}

.bar-on-16 {
  background: rgb(85, 0, 0);
}

.bar-on-17 {
  background: rgb(64, 0, 0);
}

.bar-on-18 {
  background: rgb(43, 0, 0);
}

.bar-on-19 {
  background: rgb(21, 0, 0);
}

.audio-progress {
  display: flex;
}
