/* disable mobile scroll */
html, body, .grid {
    overflow: hidden;
}

body, .grid {
    position: relative;
}

.grid, .dot{
    margin: 0 auto;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    touch-action: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 40vw;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.volume-button {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #b4b8bf;
    border: 1px solid #5b6388;
    box-shadow: 0 0 5px #394058;
    cursor: pointer;
    font-size: 40px;
}
