
.grid-button {
    margin-top: 40px;
}

.grid-continue {
    margin-top: 40px;
    width: 200px;
    height: 70px;
    background-color: white;
    border: black;
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); /* Add box-shadow for shadow effect */    
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    
    padding: 10px 20px;
    background-color: #F3B71B;
    color: #00030B;
  
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 7px 10px 0 #000000;
    
    font-family: 'Montserrat-bold';
    font-size: 34px;
  
    transition: background-color 0.3s ease;
    border: none;
  }
  



.instructions {
    margin-top: -8px;
    font-size: 24px;
    line-height: 10%;
    color:white;
 
}
.instructions2 {

    font-size: 24px;
    line-height: 10%;
    color:white;
}
.volume_control {
    font-size: 25px;
    line-height: 10px;
    color:white;
}
.frame-container {
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: -15px;
    border: 2px ridge #ffd56a33 ;
    padding: 6px; /* Optional: Add padding to separate the content from the frame */
  }

.flex-row{
    padding-bottom: 10px;
}