.quiet {
    color: #f2f3c0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-left: -70px;
    margin-right: -70px;
}

.loud {
   color: #f2f3c0;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 50px; 
   margin-left: -70px;
   margin-right: -70px;
}

.perfect {
    color: #f2f3c0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-left: -70px;
    margin-right: -70px;
}