.name-input {
    width: 100%;
    height: 100%;
    border: 1px solid #060116;
    background-color: white;
    border-radius: 5px;
    padding: 12px 30px;
    box-sizing: border-box;
    margin-top: -5px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif;
}
.name-question {
    color: #f2f3c0;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px #00030b;
    font-weight: bold;
    font-size: 52px;
}
.big-button {
    margin-top: 40px;
    min-width: 200px;
    min-height: 50px;
}
