.final-prompt {
    color:#f2f3c0;
    margin-top: 200px;
    font-size: 50px;
    font-family: 'Montserrat';
    text-shadow: 2px 2px #00030b;
    margin-left: -70px;
    margin-right: -70px;
}

.big-button-prompt {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    min-width: 200px;
    min-height: 40px;
    padding: 10px 30px;
    background-color: #F3B71B;
    color: #00030B;
  
    text-decoration: none;
    text-align: center;
    border-radius: 100px;
    box-shadow: 0 7px 10px 0 #000000;
    
  
    font-family: 'Montserrat-bold';
    font-size: 34px;
  
    transition: background-color 0.3s ease;
    border: none;
  }