.final-prompt {
    color:#f2f3c0;
    margin-top: 200px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -70px;
    margin-right: -70px;
}