.final-prompt {
    color:#f2f3c0;
    margin-top: 200px;
    font-size: 50px;
    font-family: 'Montserrat Regular';
    text-shadow: 2px 2px #00030b;
    margin-left: -70px;
    margin-right: -70px;
}