/* SplashScreen.css */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #31406B; /* Choose your desired background color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: opacity .5s ease-in-out;
  opacity: 1;
}

h3 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.fade-out {
  opacity: 0;
}
