.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

h3 {
  margin-top: -25px;
}

h2 {
  color: white;
  font-size: 2rem;
}

h4 {
  font-size: 2rem;
}


.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 120px;
  color: #f2f3c0;
}


