.bar-off,
.bar-on {
  height: 40px;
  width: 18px;
  background-color: #00030b;
  margin-right: 10px;
}

.bar-on {
  background: rgb(103, 111, 148);
}

.bar-on-0 {
  background: #FFFB97;
}

.bar-on-1 {
  background:#FFFA84;
}

.bar-on-2 {
  background: #FCE25B;
}

.bar-on-3 {
  background: #FFD832;
}

.bar-on-4 {
  background: #FFD212;
}

.bar-on-5 {
  background:#FFCA17;
}

.bar-on-6 {
  background: #FEBD20;
}

.bar-on-7 {
  background: #FEBD20;
}

.bar-on-8 {
  background:#FFAA27;
}

.bar-on-9 {
  background: #FD9B2C;
}

.bar-on-10 {
  background: #FF8338;
}
.bar-on-11 {
  background: #FE773F;
}
.bar-on-12 {
  background: #FF6547;
}
.bar-on-13 {
  background: #FF5635;
}
.bar-on-14 {
  background: #FF4521;
}
.bar-on-15 {
  background: rgb(124, 18, 157);
}
.bar-on-16 {
  background: rgb(105, 12, 133);
}
.bar-on-17 {
  background: rgb(108, 11, 113);
}
.bar-on-18 {
  background: rgb(113, 11, 94);
}
.bar-on-19 {
  background: rgb(113, 11, 57);
}
.audio-progress {
  display: flex;
}
