/*.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.bottom-menu button {
  width: 100%;
  padding: 10px;
  background-color: #edeaea;
  border: none;
}

.bottom-menu button:hover {
  background-color: #d6d3d3;
}

.button-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  
  /* Add background color and box shadow */
  background-color: #d6d6d7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  
  /* Add animation */
  animation-name: slide-up;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  }
  
  /* Define animation */
  @keyframes slide-up {
  from {
  transform: translateY(100%);
  }
  to {
  transform: translateY(0%);
  }
  }
  
  /* Change button style */
  .bottom-menu button {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  }
  
  .bottom-menu button:hover {
  background-color: #8a8f97;
  color: #fff;
  }
  
  /* Change button icon style */
  .button-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  }
  
  /* Change icon size */
  .button-icon svg {
  font-size: 28px;
  }
  
  /* Add dark blue font color */
  .bottom-menu div {
  color: #435a90;
  }