.big-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 80px;
  min-height: 35px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;

  text-decoration: none;
  text-align: center;
  border-radius: 7px;
  font-size: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: none;
}

.big-button:hover {
  background-color: #0965c7;
}
