
.example-thumb {
  font-size: 0.9em;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  border:  10px solid rgb(57, 90, 161);
  box-sizing: border-box;
}

.example-thumb.active {
  background-color: rgb(187, 189, 198);
}

/*.example-track {
  position: relative;
  background: linear-gradient(to bottom, #607D8B, #263238);
}*/
.example-track {
  position: relative;
  background-image: linear-gradient(to right, #4b9cee,#a48b37,#fbbd52);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.example-track.example-track-1 {
  background: #9296ab;
}

.example-track.example-track-2 {
  background: #0f0;
}

.vertical-slider .example-thumb {
  left: -10px;
  width: 70px;
  line-height: 40px;
  height: 70px;
  border-radius: 100%;
  border-color: #fbbd52;
  background-color: #fbbd52;
  color:#fbbd52;


}

.vertical-slider {
  height: 40vh;
  width: 50px;
}
.vertical-slider .example-track {
  left: 15px;
  width: 20px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adjust-text {
  font-size: 20px;
  font-weight: 500;
  color: rgb(57, 90, 161);
}
