.start-menu {
  /* Positioning */
  /* center on screen */
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* size */
  width: 80%;
  height: 40%;
  background-color: #000000; /* Choose your desired background color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: opacity 2s ease-in-out;
  opacity: 1;

  /* round edge */
  border-radius: 20px;
}

h3 {
  color: #f2f3c0;
  font-size: 2.5rem;
  font-family: 'Montserrat Regular';
  margin-bottom: 3rem;
  margin-top: -7px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 55px;
}

.fade-in {
  opacity: 1;
}
