.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 0 !important;
  overflow: hidden;
  max-width: 90vw;
}

.player-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.react-player video {
  position: relative;
}
